<div class="container">
    <h3>Editing Todo</h3>

    <%= render 'form', todo: @todo %>

    <%= link_to 'Show', @todo, class: 'btn waves-effect waves-green'%> 
    <%= link_to 'Back', todos_path, class: 'btn waves-effect black'%>

</div>